@{ Layout = "~/Views/Shared/_indexLayout.cshtml"; }

@{
    HeaderCaption HeaderCaption = new HeaderCaption()
    {
        Header1 = UIResource.Dashboard,
        Header2 = UIResource.StatisticsAndMore,
        Navigation1 = UIResource.Home,
        Navigation1Click = "Home_Click();",
        Navigation2 = UIResource.Dashboard,
        Navigation2Click = "Dashboard_Click();",
    };
}
<div id="dashboard">
    @Html.Partial("~/Views/Shared/HeaderPanel.cshtml", HeaderCaption)
    <div class="row-fluid">
        @Html.Partial("~/Views/Home/Panel/WakeUpPanel.cshtml")
    </div>
</div>
@System.Web.Optimization.Scripts.Render("~/Content/Home")