<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <add name="WebToolEntities" connectionString="metadata=res://*/WebToolEF.csdl|res://*/WebToolEF.ssdl|res://*/WebToolEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;Network=dbmssocn;Data Source=gqy115.cloudapp.net;Initial Catalog=WebTool;Persist Security Info=False;User ID=sa;Password=g58608293S58608293;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <enyim.com>
    <memcached protocol="Binary">
      <servers>
        <!-- make sure you use the same ordering of nodes in every configuration you have -->
        <add address="localhost" port="11211" />
      </servers>
    </memcached>
  </enyim.com>
</configuration>