<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="WebDriver" value="Chrome"/>
    <add key="BaseUrl" value="http://localhost:12599"/>
  </appSettings>

  <specFlow>

    <stepAssemblies>
      <stepAssembly assembly="Specflow.Common"/>
    </stepAssemblies>

    <unitTestProvider name="NUnit"/>
  </specFlow>

  <!--connection-->
  <connectionStrings>
    <add name="WebToolDBEntities" connectionString="metadata=res://*/WebToolEF.csdl|res://*/WebToolEF.ssdl|res://*/WebToolEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;Network=dbmssocn;Data Source=localhost;Initial Catalog=WebTool;Persist Security Info=False;User ID=sa;Password=g58608293;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--Memcached-->
  <enyim.com>
    <memcached protocol="Binary">
      <servers>
        <!-- make sure you use the same ordering of nodes in every configuration you have -->
        <add address="localhost" port="11211"/>
      </servers>
    </memcached>
  </enyim.com>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
