<div ng-controller="M.sidebarController as sidebar" class="page-sidebar nav-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu">
        <li id="Dashboard" ng-class="{active: sidebar.activePanel.dashboard}">
            <a ng-click="sidebar.LeftPanel_Dashboard_Click()">
                <i class="icon-home"></i>@UIResource.Dashboard
                <span class="selected"></span>
                <span class="arrow"></span>
            </a>
        </li>
    </ul>
    <ul class="page-sidebar-menu">
        <li id="WOL" ng-class="{active: sidebar.activePanel.wol}">
            <a ng-click="sidebar.LeftPanel_WOL_Click()">
                <i class="icon-th-list"></i>@UIResource.WOL
                <span class="selected"></span>
                <span class="arrow"></span>
            </a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
