@{
    ViewBag.Title = UIResource.Error;
    
}

<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->

    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid page-500">
                <div class="span5 number">
                    500
                </div>
                <div class="span7 details">
                    <h3>@UIResource.OppsSomethingwentwrong</h3>
                    <p>
                        @UIResource.Wearefixingit<br />
                        @UIResource.Pleasecomebackinawhile<br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
