<div ng-controller="wakeUpPanelController as wakeUpPanel" class="span3 responsive" data-tablet="span6  fix-offset" data-desktop="span3">
    <div class="dashboard-stat blue">
        <div class="visual">
            <i class="icon-globe"></i>
        </div>
        <a class="more" ng-click="wakeUpPanel.wakeUp_Click()">
            @UIResource.WakeUp <i class="m-icon-swapright m-icon-white"></i>
        </a>
    </div>
    <div id="alertWakeUpSuccess" class="alert alert-success" style="display: none;">
        <button class="close" onclick="$('#alertWakeUpSuccess').hide();"></button>
        <strong>@UIResource.Success</strong>
    </div>
</div>