<div ng-controller="wakeUpPanelController as wakeUpPanel" class="span3 responsive" data-tablet="span6  fix-offset" data-desktop="span3">
    <div class="dashboard-stat blue">
        <div class="visual">
            <i class="icon-globe"></i>
        </div>
        <a name="home-wake-up" class="more" ng-click="wakeUpPanel.wakeUp_Click()">
            @UIResource.WakeUp <i class="m-icon-swapright m-icon-white"></i>
        </a>
    </div>
    <div id="alertWakeUpSuccess" ng-cloak ng-show="wakeUpPanel.isShowAlertWakeUpSuccess" class="alert alert-success">
        <button class="close" ng-click="wakeUpPanel.hideSuccessMessage()"></button>
        <strong>@UIResource.Success</strong>
    </div>
</div>