@model WebToolService.UserModel

<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="navbar-inner" ng-controller="headController as head">
        <div class="container-fluid">
            <!-- BEGIN LOGO -->
            <a class="brand" ng-click="head.brand_Click()">
                <span class="sprite-home sprite-home-logo"></span>
            </a>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <span class="sprite-home sprite-home-menu-toggler"></span>
            </a>

            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <ul class="nav pull-right">
                @Html.Action("Index", "Language")
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="dropdown-toggle-image sprite-home sprite-home-avatar1_small"></span>
                        <span class="username">@(Model?.UserName)</span> <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="head.myProfile_Click()"><i class="icon-user"></i>@UIResource.MyProfile</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="head.logOut_Click()"><i class="icon-key"></i>@UIResource.LogOut</a></li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
            <!-- END TOP NAVIGATION MENU -->
        </div>
    </div>
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
