@model ModelStateDictionary

@if (!Model.IsValid)
{
    <div name='alert-error' class='alert alert-error'>
        <div class='text'>
            <p>
                @foreach (var modelError in Model.SelectMany(keyValuePair => keyValuePair.Value.Errors))
                {
                    @modelError.ErrorMessage
                }
            </p>
        </div>
    </div>
}