<?xml version="1.0" encoding="utf-8"?>
  <connectionStrings>
    <add name="WebToolEntities" connectionString="metadata=res://*/WebToolEF.csdl|res://*/WebToolEF.ssdl|res://*/WebToolEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;Network=dbmssocn;Data Source=.\SQL2008R2SP2;Initial Catalog=WebTool;Persist Security Info=False;User ID=sa;Password=Password12!;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

<parameters configSource="connectionStrings.config">
  <parameter value="metadata=res://*/WebToolEF.csdl|res://*/WebToolEF.ssdl|res://*/WebToolEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;Network=dbmssocn;Data Source=.\SQL2008R2SP2;Initial Catalog=WebTool;Persist Security Info=False;User ID=sa;Password=Password12!;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" />
</parameters>

</configuration>