<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- add your targets here -->
    <target xsi:type="File" name="DailyLog" fileName="${basedir}/logs/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/${shortdate}.log" layout="${longdate} &#13;&#10; ${uppercase:${level}} ${message} &#13;&#10; ${exception:format=tostring}" />
    <target xsi:type="File" name="MonthlyLog" fileName="${basedir}/logs/${date:format=yyyy}/${date:format=MM}/${date:format=yyyyMM}.log" layout="${longdate} &#13;&#10; ${uppercase:${level}} ${message} &#13;&#10; ${exception:format=tostring}" />
    <target xsi:type="File" name="YearlyLog" fileName="${basedir}/logs/${date:format=yyyy}/${date:format=yyyy}.log" layout="${longdate} &#13;&#10; ${uppercase:${level}} ${message} &#13;&#10; ${exception:format=tostring}" />
    <target xsi:type="File" name="AllLog" fileName="${basedir}/logs/All.log" layout="${longdate} &#13;&#10; ${uppercase:${level}} ${message} &#13;&#10; ${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" levels="Debug,Error" writeTo="DailyLog,AllLog,MonthlyLog,YearlyLog" />
  </rules>
</nlog>