<?xml version="1.0"?>
<unity>
  <container>
    <register type="Utilities.ICacheHelper, Utilities" mapTo="Utilities.SessionHelper, Utilities">
      <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    </register>
    <register type="WebToolRepository.WebToolEntities, WebToolRepository" mapTo="WebToolRepository.WebToolEntities, WebToolRepository">
      <lifetime type="Microsoft.Practices.Unity.PerRequestLifetimeManager, Microsoft.Practices.Unity.Mvc" />
    </register>
  </container>
</unity>
